/*Jukka Ylipahkala*/
.addNotes{
    display: inline-block;
    padding: 6px;
    margin: 6px;
    border: 1px solid black;
}
.hide{
    display: none;
}
.importantNotes{
    display: inline-block;
    padding: 6px;
    margin: 6px;
    border: 2px solid red;
    position: absolute;
}
.noteInput{
    width: 20%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 4px;
    resize: none;
}